extends layout

block content
    form(method="POST" action="")
        div.form-group
            p Are you sure you want to approve this request?
        div.form-group
            button.btn.btn-primary(name="accept" type="submit" value="true") Accept 
        div.form-group    
            button.btn.btn-primary(name="accept" type="submit" value="false") Cancel
