extends layout

block content
  h1= title
  form(method='POST' action='')
    div.form-group
      label(for='name') #{target} name:
      input#name.form-control(type='text' name='objectName' placeholder='the item you want to download from server' autofocus)
    button.btn.btn-primary(type='submit') Submit

  br

  if content
    p= content 


  if errors
   ul
    for error in errors
     li!= error.msg
