extends layout

block content
    p(style="text-align:right") Hello, user: !{user}
    table(class="table table-sm")
        if user === 'lehai'
            thead(class="thead-dark")
                tr
                    th(scope="col") Id
                    th(scope="col") User
                    th(scope="col") Status
                    th(scope="col") Summary
            tbody 
                each  val, key in data
                    tr
                        td= val.id
                        td= val.user 
                        td= val.status 
                        td= val.summary

        if user === 'it'
            thead(class="thead-dark")
                tr
                    th(scope="col") Id
                    th(scope="col") User
                    th(scope="col") Status
                    th(scope="col") Summary
            tbody 
                each  val, key in data
                    tr
                        td= val.id
                        td= val.user 
                        td= val.status 
                        td= val.summary

        if user === 'manager1'
            thead(class="thead-dark")
                tr
                    th(scope="col") Id
                    th(scope="col") User
                    th(scope="col") Status
                    th(scope="col") Summary
            tbody 
                each  val, key in data
                    tr
                        td= val.id
                        td= val.user 
                        td= val.status 
                        td= val.summary
